h1 { 
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
   text-align: center;
    font-weight: bold;
  }

img {

    width: 20px;
    
    height: 20px;
    
    float: left;
    
    }
    
    #idCard {
    
    border: 5px solid black;
    
    height: 14em;
    
    width: 25em;
    
    }